
<h5>Current Year</h5>
<table>
	<thead>
		<tr>
			<th>Balance from Previous Year</th>
			<th>Gross Payments Current YTD</th>
			<th>Preparer Portion</th>
			<th>Gross Wages Current YTD</th>
			<th>Balance Owed to Preparer</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%= number_to_currency(@preparer.balance(2018)) %></th>
			<th><%= number_to_currency(@preparer.total_payments_by_year(2019)) %></th>
			<th><%= number_to_currency(@preparer.total_payments_by_year(2019)/2) %></th>
			<th><%= number_to_currency(@preparer.total_wages_by_year(2019)) %></th>
			<th><%= number_to_currency(@balance) %></th>
		</tr>
	</tbody>
</table>
<h5>Previous Year</h5>
<table>
	<thead>
		<tr>
			<th>Balance from Previous Year</th>
			<th>Gross Payments 2018</th>
			<th>Preparer Portion 2018</th>
			<th>Gross Wages 2018</th>
			<th>Remaining Balance Owed to Preparer 2018</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%= number_to_currency(@preparer.balance(2017)) %></th>
			<th><%= number_to_currency(@preparer.total_payments_by_year(2018)) %></th>
			<th><%= number_to_currency(@preparer.total_payments_by_year(2018)/2) %></th>
			<th><%= number_to_currency(@preparer.total_wages_by_year(2018)) %></th>
			<th><%= number_to_currency(@preparer.balance(2018)) %></th>
		</tr>
	</tbody>
</table>
<h5>Recent Payments</h5>
<table>
	<thead>
		<tr>
			<th>Client</th>
			<th>Job</th>
			<th>Amount</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @preparer.jobs.paid.sort_by(&:updated_at).reverse.first(20).each do |job| %>
			<% if job.payments %>
		<tr>
			<th><%= job.client.last_name %></th>
			<th><%= job.id %></th>
        <% job.payments.sort_by(&:created_at).reverse.each do |payment| %>
			<th><%= number_to_currency(payment.amount) %></th>
			<th><%= payment.created_at.strftime('%v') %></th>
        <% end %>
		</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
